@import "tailwindcss";
@import "@xyflow/react/dist/style.css";
@import "./xy-theme.css";

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}
